*{
	margin:0px;
	padding:0px;
	font-family: 'Montserrat', sans-serif;
}

.bgimage{
	background-image: linear-gradient(rgba(233, 15, 15, 0.5),rgba(233, 15, 15,.5)),url('../img/gif.gif') ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


a{
	text-decoration: none;
	color: black;
}

.indent{
	text-indent: 25px;
}

hr{
	width: 90%;
	margin: auto;
}

.zoom:hover{
    transform: scale(1.05);
    transition: 1s;
    z-index: 5;
}